html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #eee;
    font-family: sans-serif;
}

#header {
    background: #222;
}

#header div {
    max-width: 1152px;
    min-width: 240px;
    padding: 22px 30px;
    margin: 0 auto;
}

#header a {
    text-decoration: none;
    color: #FFF;
}

#header h2 {
    margin: 0;
}

#footer {
    background: #FFF;
}

#footer div {
    max-width: 1152px;
    min-width: 240px;
    padding: 22px 0;
    margin: 0 auto;
}

#footer a {
    margin-left: 30px;
    text-decoration: none;
    color: #0274BE;
}

#page {

    flex-grow: 1;
}

#container {
    margin: 30px auto;
    max-width: 1152px;
    min-width: 240px;
    display: flex;
    padding: 0 30px;
}

#postlist {
    flex: 1 200%;
    background: #FFF;
    padding-bottom: 30px;
}

#sidebar {
    flex: 1 100%;
    padding-left: 30px;
}

#post {
    background: #FFF;
    padding: 30px;
}

.postheader h1 {
    margin: 0 0 12px 0;
}

.postheader img {
    height: 400px;
    width: 100%;
    display: block;
    margin: 12px 0;
    object-fit: cover;
    object-position: center;
}

.postheader {
    margin-bottom: 30px;
}

.postheader div {
    display: inline;
    padding-right: 22px;
}

.fa {
    padding-right: 3px;
}

.postitem a {
    text-decoration: none;
    color: #0274BE;
}

.postitem {
    margin: 30px 30px 0 30px;
}

.postcontent {
    margin-bottom: 12px;
}

.sidebaritem {
    background: #FFF;
    padding: 30px;
}

.sidebaritem > h1,
.sidebaritem > h2,
.sidebaritem > h3,
.sidebaritem > h4,
.sidebaritem > h5,
.sidebaritem > h6 {
    margin-top: 0;
}

#comment-form {
    display: flex;
    flex-direction: column;
}

#comment-form > * {
    margin: 12px 0;
    padding: 12px;
    border: 1px solid #E4E4E4;
    font-size: 14px;
}

#comment-form > button {
    background: #0274BE;
    color: #FFF;
    align-self: flex-end;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

#comment-form > button:hover {
    background: #222;
}

.comment {
    margin: 30px 30px 0 0;
    display: flex;
}

.comment > img {
    height: 80px;
    margin: 7px 12px 0 0;
}

.commentauthor,
.commentdate {
    display: inline;
}

.commentauthor {
    font-weight: bold;
}

/*noinspection CssOverwrittenProperties*/
.commentmessage {
    word-break: break-all;
    /*noinspection CssInvalidPropertyValue*/
    word-break: break-word;
}
