---
layout: main
---
{% if site.posts == empty %}
    {% capture default_post %}{% include defaultpost.md %}{% endcapture %}
    <div class="postitem">
        {{ default_post | markdownify }}
    </div>
{% else %}
    {% for post in site.posts %}
        {% if site.data.comments[post.slug] == empty %}
            {% assign commentsQuantity = 0 %}
        {% else %}
            {% assign commentsQuantity = site.data.comments[post.slug].size %}
        {% endif %}
        {% case commentsQuantity | modulo:10 %}
        {% when 1 %}
            {% assign commentsWord = "коментариев" %}
        {% when 2 or 3 or 4 %}
            {% assign commentsWord = "коментария" %}
        {% else %}
            {% assign commentsWord = "коментариев" %}
        {% endcase %}
        <div class="postitem">
            <div class="postheader">
                <h1><a href="{{ site.baseurl | append: post.url }}">{{ post.title }}</a></h1>
                <div class="postauthor"><i class="fa fa-user"></i>{{ post.author }}</div>
                <div class="postdate"><i class="fa fa-calendar"></i>{{ post.date | date: "%d %B %Y" }}</div>
                <div class="postcomments"><i class="fa fa-comments"></i>{{ commentsQuantity }} {{ commentsWord }}</div>
                <a href="{{ site.baseurl | append: post.url }}">
                    <img class="postimage" src="{{ site.baseurl }}/{{ post.image }}">
                </a>
            </div>
            <div class="postcontent">
                {{ post.pretext | strip }} ...
            </div>
            <a href="{{ site.baseurl | append: post.url }}">Подробнее...</a>
        </div>
    {% endfor %}
{% endif %}
