comment begin <br/>
reply_to: {{ include.reply_to }}<br />
index: {{ include.index }}<br />
{% assign id=include.reply_to | append: "-" | append: include.index %}
id: {{ id }}<br />
<!--<div class="comment level{{ id.size | divided_by: 2 }}">
    <img class="avatar" src="https://www.gravatar.com/avatar/{{ email | default: '' | escape }}?s=80&d=monsterid" />
    <div class="commentbody">
        <div class="commentheader">
            <div class="commentauthor">{{ include.name | default: "Аноним" | escape }}</div>
            <div class="commentdate">{{ include.timestamp | date: "%d %B %Y" | escape }}</div>
        </div>
        <div class="commentmessage">{{ include.message | escape }}</div>
        <label class="response" for="{{ id }}">Ответить</label>
        <input type="checkbox" id="{{ id }}" class="opener">
        <div class="responseform">
            <h3>Комментировать</h3>
            <form class="commentform" method="post" action="https://api.staticman.net/v2/entry/vitoyucepi/vitoyucepi.github.io/master/comments">
                <textarea placeholder="Текст комментария" rows="6" name="fields[message]" required spellcheck="true"></textarea>
                <input placeholder="Имя" type="text" name="fields[name]" spellcheck="false">
                <input placeholder="E-mail (укажите эл. почту или jabber для отображения уникального аватара)" type="text" name="fields[email]" spellcheck="false">
                <input type="hidden" name="options[redirect]" value="{{ page.url | absolute_url }}">
                <input type="hidden" name="options[slug]" value="{{ page.slug }}">
                <input type="hidden" name="fields[reply_to]" value="{{ id }}">
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>-->
{% assign comments = site.data.comments[page.slug] | where_exp:"item", "item.reply_to == id" | sort: 'timestamp' %}
subcomments: {{ comments | inspect }} <br />
subcomments size: {{ comments.size }} <br />
comment end <br />
<br />
{% if comments.size > 0 %}
test sub
    {% for comment in comments %}
        subid: {{ id }} <br />
        subcomment: {{ comment | inspect }} <br />
        {% assign index=forloop.index %}
        subindex: {{ index }} <br />
        {% assign email=comment.email %}
        {% assign name=comment.name %}
        {% assign timestamp=comment.timestamp %}
        {% assign message=comment.message %}
        {% assign replty_to=comment.reply_to }%
        {% include comment.html index=index email=email name=name timestamp=timestamp message=message reply_to=id %}
    {% endfor %}
{% endif %}
