{% for post in site.posts %}
    {% if site.data.comments[post.slug] %}
        {% assign localcomments = site.data.comments[post.slug] %}
        {% if comments %}
            {% assign comments = comments %}
        {% else %}
            {% assign comments = site.data.comments[post.slug] %}
        {% endif %}
    {% endif %}
{% endfor %}
{{ comments | inspect }}

{% assign fruits = "apples, oranges, peaches, tomatoes" | split: ", " %}
{% assign vegetables = "broccoli, carrots, lettuce, tomatoes" | split: ", " %}

{% assign plants = fruits | concat: vegetables %}
{{ plants | join: ", " }}
