<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/default.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Внучаев Блог</title>
</head>
<body>
<div id="header">
    <div>
        <h2><a href="{{ site.baseurl }}/">VnuCHaeV.blog</a></h2>
    </div>
</div>
<div id="page">
    {{ content }}
</div>
<div id="footer">
    <div>
        <a href="{{ site.baseurl }}/" title="Для тех, кто смог">VnuCHaeV.blog</a> Copyright © 2018.
    </div>
</div>
</body>
</html>
