---
layout: default
---
<div id="container">
    <div id="post">
        <div class="postheader">
            <img class="postimage" src="{{ site.baseurl }}/{{ page.image }}">
            <h1>{{ page.title }}</h1>
            <div class="postauthor"><i class="fa fa-user"></i>{{ page.author }}</div>
            <div class="postdate"><i class="fa fa-calendar"></i>{{ page.date | date: "%d %B %Y" }}</div>
        </div>
        <div id="postcontent">
            {{ content }}
        </div>
        <div id="postcomments">
            <h1>Комментировать</h1>
            <form id="comment-form" method="post" action="https://api.staticman.net/v2/entry/vitoyucepi/vitoyucepi.github.io/master/comments">
                <textarea placeholder="Текст комментария" rows="6" name="fields[message]" required spellcheck="true"></textarea>
                <input placeholder="Имя" type="text" name="fields[name]" spellcheck="false">
                <input placeholder="E-mail (укажите эл. почту или jabber для отображения уникального аватара)" type="text" name="fields[email]" spellcheck="false">
                <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
                <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
                <input type="hidden" name="options[slug]" value="{{ page.slug }}">
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>
