---
layout: default
---
{% assign comments = site.data.comments[page.slug] %}
{% if comments %}
    {% assign commentsQuantity = comments.size %}
    {% case commentsQuantity | modulo:10 %}
    {% when 1 %}
        {% assign result = commentsQuantity | append: " комментарий" %}
    {% when 2 or 3 or 4 %}
        {% assign result = commentsQuantity | append: " комментария" %}
    {% else %}
        {% assign result = commentsQuantity | append: " комментариев" %}
    {% endcase %}
{% else %}
    {% assign result = "Комментариев нет" %}
{% endif %}
<div id="container">
    <div id="post">
        <div class="postheader">
            <img class="postimage" src="{{ site.baseurl }}/{{ page.image }}">
            <h1>{{ page.title }}</h1>
            <div class="postauthor"><i class="fa fa-user"></i>{{ page.author }}</div>
            <div class="postdate"><i class="fa fa-calendar"></i>{{ page.date | date: "%d %B %Y" }}</div>
        </div>
        <div id="postcontent">
            {{ content }}
        </div>
        <div id="postcomments">
            <h1>{{ result }}</h1>
            {% if comments %}
                {% assign comments = site.data.comments[page.slug] | where_exp:"item", "item.reply_to == empty" | sort: 'timestamp' %}
                {% for comment in comments %}
                    <div class="comment">
                        <img class="avatar" src="https://www.gravatar.com/avatar/{{ comment.email | default: '' | escape }}?s=80&d=monsterid" />
                        <div class="commentbody">
                            <div class="commentheader">
                                <div class="commentauthor">{{ comment.name | default: "Аноним" | escape }}</div>
                                <div class="commentdate">{{ comment.timestamp | date: "%d %B %Y" | escape }}</div>
                            </div>
                            <div class="commentmessage">{{ comment.message | escape }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <h1>Комментировать</h1>
            <form id="comment-form" method="post" action="https://api.staticman.net/v2/entry/vitoyucepi/vitoyucepi.github.io/master/comments">
                <textarea placeholder="Текст комментария" rows="6" name="fields[message]" required spellcheck="true"></textarea>
                <input placeholder="Имя" type="text" name="fields[name]" spellcheck="false">
                <input placeholder="E-mail (укажите эл. почту или jabber для отображения уникального аватара)" type="text" name="fields[email]" spellcheck="false">
                <input type="hidden" name="options[redirect]" value="{{ page.url | absolute_url }}">
                <input type="hidden" name="options[slug]" value="{{ page.slug }}">
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>
